[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
django = "*"
celery = "*"
flower = "*"
djangorestframework = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.10"
